@import "../../../styles/variables";
body {
  display: flex;
  flex-wrap: wrap;
}
.title-portfolio {
  font-size: $heading-l;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 14px;
  border-radius: 12px;
  border: 0.5px solid #c6c6c6;
  -webkit-box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);

  .imagen-card {
    margin-right: 10px;
    height: fit-content;
    padding: 0;
    border-radius: 8px;

    img {
      width: 35vw;
      height: 30vh;
      border-radius: 8px;
      margin-top: 8px;
      -webkit-box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);
      -moz-box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);
      box-shadow: 0px 15px 58px -16px rgba(0, 0, 0, 0.43);
    }
  }

  .content-card {
    height: fit-content;
    padding: 8px;

    .text-card {
      padding: 4px;
      h2 {
        padding: 4px;
      }

      p {
        padding: 4px;
      }
    }

    .logo-tools {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin: 4px;

      img {
        cursor: pointer;
        margin: 8px;
        width: 48px;
        height: 48px;
      }
    }

    .buttons-card {
      display: flex;
      flex-direction: row;
      width: fit-content;
      padding: 4px;
      margin: 4px;

      button {
        font-family: Poppins;
        font-weight: 600;
        font-size: $boton-text;
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 4px 1.5px 0px rgba(0, 0, 0, 0.25);
      }

      .link-button {
        padding: 8px;
        background: $azul-1;
        color: $azul-3;

        &:hover {
          background-color: $azul-2;
          color: #fff;
          transition: 0.1s ease-in;
        }
        &:focus {
          box-shadow: var(
            --focussed-effect-box-shadow,
            inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25)
          );
        }
      }

      .github-button {
        padding: 8px;
        background-color: $azul-2;
        color: #fff;
        display: flex;
        flex-direction: row;
        gap: 15px;

        &:hover {
          background-color: $azul-1;
          color: $azul-3;
          transition: 0.1s ease-in-out;
        }

        &:focus {
          box-shadow: var(
            --focussed-effect-box-shadow,
            inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25)
          );
        }
      }
    }
  }
}

.arrow {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

//pantallas medianas (por ejemplo, tablets)
@media (min-width: 431px) and (max-width: 1024px) {
  .title-portfolio {
    font-size: $heading-sm;
    padding: 4px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .card {
      display: flex;
      flex-wrap: wrap;

      .imagen-card {
        margin: 0;
        margin-bottom: 4px;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
      .content-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .text-card {
          text-align: center;

          .title-project {
            font-size: $heading-sm;
          }

          .description-projct {
          }
        }

        .logo-tools {
        }

        .buttons-card {
          display: inline-flex;
          flex-wrap: wrap;
          button {
          }

          .link-button {
          }

          .github-button {
          }
        }
      }
    }

    .arrow {
    }
  }
}

//pantallas pequeñas
@media (max-width: 431px) {
  .title-portfolio {
    font-size: $heading-sm;
    padding: 4px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .card {
      display: flex;
      flex-wrap: wrap;

      .imagen-card {
        margin: 0;
        margin-bottom: 4px;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
      .content-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .text-card {
          text-align: center;

          .title-project {
            font-size: $heading-xsm;
          }

          .description-projct {
          }
        }

        .logo-tools {
        }

        .buttons-card {
          display: inline-flex;
          flex-wrap: wrap;
          button {
          }

          .link-button {
          }

          .github-button {
          }
        }
      }
    }

    .arrow {
      img {
        width: 50px;
      }
    }
  }
}
