@import url('https://fonts.cdnfonts.com/css/poppins');


//colores
$color-light: #ffffff;
$color-dark: #000000;

//paleta de colores
$gris-1: #c7c8ca;
$gris-2: #939598;
$gris-3: #636466;
$gris-4: #000000;

$azul-1: #dbebfa;
$azul-2: #007fbd;
$azul-3: #00334e;
$azul-4: #004d73;

$verde-1: #b9dca4;
$verde-2: #c0de9e;
$verde-3: #85c446;
$verde-4: #689550;

//fuentes
$fuente-primaria: Poppins;
$fuente-secundaria: 'sans-serif';

//textos tamaños
//headings
$heading-xxl: 64px;
$heading-xl: 48px;
$heading-l: 36px;
$heading-m: 32px;
$heading-sm: 24px;
$heading-xsm: 16px;
$heading-xxsm: 12px;

//body
$body-xxl: 48px;
$body-xl: 38px;
$body-l: 32px;
$body-m: 28px;
$body-sm: 16px;
$body-xsm: 12px;
$body-xxsm: 8px;

//botones text
$boton-text: 14px;

//Bordes
$borde-imagenes: 24px;
$borde-modales: 20px;

$border-decimals: 0.5;